.container {
  display: flex;
  align-items: center;
 
  justify-content: center;
  margin: 50px 0px;
  /* background-color: #f5dffd; */
}

.subcontainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 50px;
  gap: 10px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
